/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Section de l'entête */
.entête {
    background: radial-gradient(white,rgb(255, 171, 185)); /* Gradient pour Natsu */
    text-align: center;
    padding: 30px;
}

.natsu-img {
    width: 200px;
    margin: 20px;
}

h1 {
    font-size: 48px;
    margin-top: 30px;
}

.citation {
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
}

/* Barre de navigation */
nav {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffa07a;
}

nav ul li a:visited {
    color: #ff4500;
}

/* Section biographie */
.biographie {
    padding: 50px;
    background-color: #fafafa;
}

.chapitre1 {
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgb(252, 252, 125);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-attachment: fixed;
}

.chapitre2 {
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgb(251, 188, 71);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chapitre3 {
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgb(249, 90, 90);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-chapitre {
    margin: 10px;
    width: 100px;
    padding: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

/* Section pied de page */
footer {
    background-color: #333;
    color: #f85e21;
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 300px;
}

/* Page Compétences */
.h1 {
    text-align: center;
}

.b {
    font-size: 20px;
}

.competences {
    text-align: justify;
    padding: 5px;
    list-style-type: disc;
}

.experiences {
    padding: 5px;
    text-align: justify;
}

/* Page Galerie */
.galerie {
    padding: 50px;
    background-color: #fff;
}

.ligne-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.image-galerie {
    flex-basis: 30%;
    text-align: center;
}

.image-galerie img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-galerie:hover img {
    box-shadow: none;
    border: none;
}

.bordure-cercle img {
    border-radius: 50%;
    border: 2px solid red;
}

.bordure-carree img {
    border: 2px solid green;
}

.bordure-arrondie img {
    border-radius: 15px;
    border: 2px solid blue;
}

/* Page Contact */

.contactez {
    text-align: center;
}

.suivez {
    text-align: center;
    padding: 30px;
}

.infos-contact {
   text-align: center;
}

.message {
    text-align: center;
    padding: 30px;
}

.téléphone {
    color: orange;
    padding: 25px;
}

.linkedin {
    padding: 10px;
    width: 100px;
    height: 100px;
    align-content: center;
}

.github {
    padding: 10px;
    width: 100px;
    height: 100px;
    align-content: center;
}

.reseaux-sociaux {
    padding: 50px;
}

.lien-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-image: url('assets/sprites.png');
    background-size: cover;
}


/* Animation SVG */
.bulle-parole {
    animation: moveBubble 5s infinite alternate;
    align-content: center;
}

@keyframes moveBubble {
    0% { transform: translateX(0); }
    100% { transform: translateX(300px); fill: lightblue; }
}